<h1><%= @mango %></h1> 

<em><%= @mango %></em>

<h2 style="color:green;"><%= @mango %></h2>

<h1><%= @mini %></h1>

<h1 style="color:red;"><%= @mini %></h1>

<h3 style="color:blue; font-family:serif"><%= @mini %></h3>

<h1>될까?</h1>